<div class="container text-center">
  <h1>{{title}}</h1>
</div>
<div class="container">
  <div class="row">
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Filtrar">
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usuario of usuarios | filter:searchText">
        <td>{{usuario.usuID}}</td>
        <td>{{usuario.nombre}} {{usuario.apellido}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



<router-outlet></router-outlet>